@use "../../../../styles/mixins/layers.scss";

@include layers.component {
  .onyx-data-grid {
    .onyx-data-grid-row-rearrange-cell {
      --onyx-table-padding-inline: var(--onyx-table-padding-block);
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }

    .onyx-data-grid-rearrange-row--highlighted {
      > td {
        border-bottom-color: var(--onyx-color-component-border-primary);
        border-bottom-width: var(--onyx-spacing-5xs);
      }
    }

    // border for very last row is defined on the table container instead of the row itself
    > .onyx-table-wrapper__container {
      &:has(.onyx-data-grid-rearrange-row--highlighted:is(tr:last-of-type)) {
        border-bottom-color: var(--onyx-color-component-border-primary);
        border-bottom-width: var(--onyx-spacing-5xs);
      }
    }

    // TODO: implement highlight for very first row
  }
}
