@use "../../../../styles/mixins/layers.scss";

@include layers.component {
  .onyx-data-grid {
    .onyx-data-grid-hide-columns-cell {
      position: sticky;
      right: 0;
      text-align: center;
      padding: var(--onyx-density-xs);
      width: 1rem;
      &:after {
        position: absolute;
        left: calc(-1 * var(--onyx-1px-in-rem));
        top: 0px;
        content: "";
        height: 100%;
        width: var(--onyx-1px-in-rem);
        background-color: var(--onyx-color-component-border-neutral);
      }
    }
  }
}
