# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2

updates:
  - package-ecosystem: npm
    directory: /
    versioning-strategy: increase
    schedule:
      interval: daily
    groups:
      minor:
        update-types:
          - minor
          - patch
      major:
        update-types:
          - major

    ignore:
      # keep this in sync with .node-version file, if we e.g. use node 20, we do not want to update the types to latest 22
      - dependency-name: "@types/node"
        update-types: [version-update:semver-major]

      # TODO: remove when https://github.com/vuejs/repl/issues/269 is fixed
      - dependency-name: "@vue/repl"
        update-types: [version-update:semver-minor]

      # minor typescript updates often lead to incompatible dependencies / build type errors so we ignore the auto-update here
      - dependency-name: "typescript"
        update-types: [version-update:semver-minor]

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
