# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2

updates:
  - package-ecosystem: npm
    directory: /
    versioning-strategy: increase
    cooldown:
      default-days: 2 # Wait two days after a new version release - This is in sync with the `pnpm-workspace.yaml` `minimumReleaseAge` config
    schedule:
      interval: daily
    groups:
      playwright:
        patterns:
          - "@playwright/*"
          - "playwright*"

      minor:
        update-types:
          - minor
          - patch
      major:
        update-types:
          - major

    ignore:
      # keep this in sync with .node-version file, if we e.g. use node 20, we do not want to update the types to latest 22
      - dependency-name: "@types/node"
        update-types: [version-update:semver-major]

      # TODO: remove in https://github.com/SchwarzIT/onyx/issues/4810
      - dependency-name: "eslint"
        update-types: [version-update:semver-major]

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
