# Browsers that we support
# The big three, up to 1 year old

# CHROME
Chrome > 1 and last 1 year,
ChromeAndroid > 1 and last 1 year,

# FIREFOX
Firefox > 1 and last 1 year,
Firefox ESR,

# SAFARI
Safari > 1 and last 1 year,
ios_saf > 1 and last 1 year,

# EDGE (CHROMIUM)
Edge > 1 and last 1 year,

# Node.js
maintained node versions,

not dead,
not unreleased versions,
