# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
.DS_Store
dist
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

test-results/
playwright-report/
/blob-report/
**/.cache
**/.vitepress/cache
storybook-static
