# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules/
.DS_Store
dist
coverage
*.local
.npmrc

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

test-results/
playwright-report/
blob-report/
**/.cache
**/.vitepress/cache
**/.vitepress/config.ts.timestamp-*.mjs
storybook-static
eslint-results.sarif
.nuxt
.output
vite.*.timestamp*

# Development config
.env*

# typescript
*.tsbuildinfo

.turbo