@use "../../../../styles/mixins/layers.scss";

@include layers.component {
  .onyx-data-grid {
    .onyx-data-grid-column-rearrange-wrapper {
      display: flex;
      align-items: center;

      .onyx-data-grid-column-rearrange-header__button {
        cursor: grab;
        margin-right: var(--onyx-density-xs);
        &:active {
          cursor: grabbing;
        }
      }
    }

    table > thead > tr > th.onyx-data-grid-rearrange-column--highlighted {
      position: relative;
      border-right-color: var(--onyx-color-component-border-primary);

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(var(--onyx-spacing-5xs) - var(--onyx-1px-in-rem));
        background-color: var(--onyx-color-component-border-primary);
        z-index: 100;
        pointer-events: none;
      }

      &:last-child::after {
        width: var(--onyx-spacing-5xs);
      }

      &.onyx-data-grid-rearrange-column--highlighted-before {
        border-right-color: inherit;
        border-left-color: var(--onyx-color-component-border-primary);

        &::after {
          right: auto;
          left: 0;
          width: var(--onyx-spacing-5xs);
        }
      }
    }
  }
}
