.VPNavBarTitle {
  .logo {
    // remove logo margin since we do not display a logo text (themeConfig.siteTitle in config.ts)
    margin: 0;
  }
}

.VPHomeHero {
  .image-src {
    border-radius: 12px; // same as feature section in home page
  }
}

// allow hiding external link indicator (e.g. for npm badges)
.hide-external-link {
  a {
    &::after {
      display: none !important;
    }
  }
}

.topic-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
}

html.onyx-transition-active * {
  transition-duration: 0.2s !important;
  transition-property: color, background-color, border-color !important;
  transition-timing-function: ease-in-out;
}
