.VPNavBarTitle {
  .logo {
    // increase logo margin so it does not look so cluttered since it contains text
    margin-right: 1.5rem;
  }
}

.VPHomeHero {
  .image-src {
    border-radius: 12px; // same as feature section in home page
  }
}

// allow hiding external link indicator (e.g. for npm badges)
.hide-external-link {
  a {
    &::after {
      display: none !important;
    }
  }
}

.topic-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
}
