.sticky {
  z-index: 25;
  position: sticky;
  left: -1px; // to make it work to observe if the el sticks
}
.right {
  left: 100%;
  transform: translateX(-100%);
}
.is-sticky {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-left: calc(var(--onyx-density-md) + 1px);
}
