// TODO: remove this file
$density-compact: 2rem;
$density-default: 2.5rem;
$density-cozy: 3rem;

@layer onyx.utility {
  .onyx-density-compact {
    --onyx-density: #{$density-compact};
  }

  :root,
  .onyx-density-default {
    --onyx-density: #{$density-default};
  }

  .onyx-density-cozy {
    --onyx-density: #{$density-cozy};
  }

  @media (pointer: fine) {
    .onyx-density-fine-compact {
      --onyx-density: #{$density-compact};
    }
    .onyx-density-fine-default {
      --onyx-density: #{$density-default};
    }
    .onyx-density-fine-cozy {
      --onyx-density: #{$density-cozy};
    }
  }
  @media (pointer: coarse) {
    .onyx-density-coarse-compact {
      --onyx-density: #{$density-compact};
    }
    .onyx-density-coarse-default {
      --onyx-density: #{$density-default};
    }
    .onyx-density-coarse-cozy {
      --onyx-density: #{$density-cozy};
    }
  }
}
