/**
 * Define the layer cascade layer priorities: Will apply from left-to-right.
 * We have to keep the layers in sync with layers.scss. We can't reference it in here,
 * as the projects can import this file separately from the other stylesheets.
 */
@layer onyx.reset, onyx.utility, onyx.component, onyx.density;

/*
* This file can be imported by projects to apply common styles to global elements like <body>.
* It must be CSS only (so no scss etc.) and must NOT contain any relative imports of other .css files.
* Make sure that all styles inside this file are in an onyx layer so they can be easily overridden if needed.
*
* Be careful when changing styles here since it will affect all global styles of the application.
*/
@layer onyx.utility {
  body {
    margin: 0;
    font-family: var(--onyx-font-family);
    background-color: var(--onyx-color-base-background-tinted);
    color: var(--onyx-color-text-icons-neutral-intense);

    /*
    * Apply font styles so elements like <p> align nicely. Same as .onyx-text class.
    */
    font-size: var(--onyx-font-size-md);
    line-height: var(--onyx-font-line-height-md);
  }
}
