// global component styles
// DO NOT ADD ANY STYLES HERE THAT HAVE SIDE EFFECTS ON THE GLOBAL APPLICATION (e.g. body, <a> etc.)
:root {
  --onyx-font-family: "Source Sans 3 Variable", sans-serif;
  --onyx-font-family-mono: "Source Code Pro Variable", monospace;
}
