// global component styles
// DO NOT ADD ANY STYLES HERE THAT HAVE SIDE EFFECTS ON THE GLOBAL APPLICATION (e.g. body, <a> etc.)
@use "@fontsource-variable/source-code-pro";
@use "@fontsource-variable/source-sans-3";
@use "grid.scss";
@use "variables-onyx.css";
@use "variables-light.css";
@use "variables-dark.css";

:root {
  --onyx-font-family: "Source Sans 3 Variable", sans-serif;
  --onyx-font-family-mono: "Source Code Pro Variable", monospace;
}

.onyx {
  &-h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: 600;
  }

  &-h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
  }

  &-h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
  }

  &-h4 {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    font-weight: 600;
  }

  &-h5,
  &-h6 {
    @extend .onyx-h4;
  }

  &-paragraph {
    &-big {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 400;
    }

    &-default {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
    }

    &-small {
      font-size: 0.8125rem;
      line-height: 1.25rem;
      font-weight: 400;
    }
  }

  &-link {
    &-big {
      @extend .onyx-paragraph-big;
      text-decoration: underline;
    }

    &-default {
      @extend .onyx-paragraph-default;
      text-decoration: underline;
    }

    &-small {
      @extend .onyx-paragraph-small;
      text-decoration: underline;
    }
  }
}
