// global component styles
// DO NOT ADD ANY STYLES HERE THAT HAVE SIDE EFFECTS ON THE GLOBAL APPLICATION (e.g. body, <a> etc.)
@use "layers"; // Must be imported first!
@use "root.scss";
@use "grid.scss";
@use "z-indices.scss";
@use "required.scss";
@use "fonts.scss";
@use "breakpoints.scss";

@use "variables/themes/value.css";

@use "variables/themes/onyx-light.css";
@use "variables/themes/onyx-dark.css";

@use "variables/density-compact.css";
@use "variables/density-default.css";
@use "variables/density-cozy.css";
@use "variables/spacing.css";

@use "@fontsource-variable/source-code-pro";
@use "@fontsource-variable/source-sans-3";
