// global component styles
// DO NOT ADD ANY STYLES HERE THAT HAVE SIDE EFFECTS ON THE GLOBAL APPLICATION (e.g. body, <a> etc.)
@use "@fontsource-variable/source-code-pro";
@use "@fontsource-variable/source-sans-3";
@use "grid.scss";
@use "z-indices.scss";
@use "required.scss";
@use "fonts.scss";
@use "variables-onyx.css";
@use "variables-light.css";
@use "variables-dark.css";

:root {
  --onyx-font-family: "Source Sans 3 Variable", sans-serif;
  --onyx-font-family-mono: "Source Code Pro Variable", monospace;
  --onyx-1px-in-rem: 0.0625rem;

  // animation/transition durations
  --onyx-duration-sm: 400ms;
  --onyx-duration-md: 700ms;
  --onyx-duration-lg: 1s;
  --onyx-duration-xl: 1.5s;
}
