// `onyx-util-required-marker` is used internally to populate the the "::after" pseudo element with the correct optional or mandatory label
// the user can set `onyx-use-optional` to switch from the default "required" indicator to the "optional" indicators.
.onyx-util-required-marker {
  .onyx-use-optional &::after {
    font-family: var(--onyx-font-family);
    content: var(--onyx-global-optional-text, "(optional)");
    color: var(--onyx-color-text-neutral-soft);
    padding-left: 0.5rem;
  }

  &::after {
    font-family: var(--onyx-font-family);
    content: "*";
    color: var(--onyx-color-base-danger-500);
    padding-left: 0.125rem;
  }
}
