// `onyx-required-marker` and `onyx-optional-marker` is used internally to populate the the "::after" pseudo element with the required indicator.
// the user can set `onyx-use-optional` to switch from the default "required" indicator to the "optional" indicators.
.onyx-required-marker {
  &::after {
    font-family: var(--onyx-font-family);
    content: "*";
    color: var(--onyx-color-text-icons-danger-intense);
    padding-left: var(--onyx-spacing-5xs);
  }

  .onyx-use-optional &::after {
    // don't show required marker in optional mode
    all: unset;
  }
}

.onyx-optional-marker {
  .onyx-use-optional &::after {
    font: {
      family: var(--onyx-font-family);
      size: 1rem;
      weight: 400;
      style: normal;
    }
    content: var(--onyx-global-optional-text, "(optional)");
    color: var(--onyx-color-text-icons-neutral-soft);
    padding-left: var(--onyx-spacing-2xs);
  }
}
