@use "./mixins/normalize.scss";

@layer onyx.utility {
  :root {
    --onyx-font-family: var(--onyx-font-family-paragraph), sans-serif;
    --onyx-font-family-mono: var(--onyx-font-family-mono), monospace;
    --onyx-1px-in-rem: 0.0625rem;

    // animation/transition durations
    --onyx-duration-sm: 400ms;
    --onyx-duration-md: 700ms;
    --onyx-duration-lg: 1s;

    // shadows (x, y, blur, spread, color)
    --onyx-shadow-medium-bottom: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    --onyx-shadow-medium-left: -0.125rem 0 0.5rem 0 rgba(0, 0, 0, 0.1);
    --onyx-shadow-medium-right: 0.125rem 0 0.5rem 0 rgba(0, 0, 0, 0.1);
    --onyx-shadow-soft-bottom: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.1);
    --onyx-shadow-soft-left: -0.5rem 0 1.5rem 0 rgba(0, 0, 0, 0.1);
    --onyx-shadow-soft-right: 0.5rem 0 1.5rem 0 rgba(0, 0, 0, 0.1);

    --onyx-outline-width: 0.25rem;

    --onyx-nav-bar-height: 3.5rem;
  }

  :root {
    color-scheme: light;
  }
  .dark {
    color-scheme: dark;
  }

  .dark {
    --onyx-shadow-medium-bottom: none;
    --onyx-shadow-medium-left: none;
    --onyx-shadow-medium-right: none;
    --onyx-shadow-soft-bottom: none;
    --onyx-shadow-soft-left: none;
    --onyx-shadow-soft-right: none;
  }
}
:where(html.onyx-transition-active *) {
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
}
@layer onyx.reset {
  .onyx-component {
    @include normalize.apply;
  }
}
