// all z-indices that are needed in the onyx design system
:root {
  // todo descriptions
  --onyx-z-index-app-overlay: 60;
  --onyx-z-index-navigation: 50;
  --onyx-z-index-page-overlay: 40;
  --onyx-z-index-notification: 30;
  --onyx-z-index-sticky-content: 20;
  --onyx-z-index-flyout: 10;
}
