@use "@fontsource-variable/source-code-pro";
@use "@fontsource-variable/source-sans-3";
@use "sit-onyx/src/styles/index.scss";
@use "mixins.scss";

// override default VitePress CSS variables to apply onyx theming
// see: https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css#L178
:root {
  // color palette
  @include mixins.define-vitepress-color(brand, --onyx-color-base-primary);
  @include mixins.define-vitepress-color(tip, --onyx-color-base-info);
  @include mixins.define-vitepress-color(warning, --onyx-color-base-warning);
  @include mixins.define-vitepress-color(danger, --onyx-color-base-danger);
  @include mixins.define-vitepress-color(default, --onyx-color-base-neutral, -200);

  // background
  --vp-c-bg: var(--onyx-color-base-background-tinted);
  --vp-c-bg-alt: var(--onyx-color-base-background-blank);
  --vp-c-bg-elv: var(--onyx-color-base-background-tinted);
  --vp-c-bg-soft: var(--onyx-color-base-background-blank);

  // borders
  // used for separators (e.g. below h2 headline)
  --vp-c-border: var(--onyx-color-base-neutral-300);
  // border on interactive components (e.g. button outline)
  --vp-c-divider: var(--onyx-color-base-neutral-200);
  // divide components in the page (e.g. header and page content)
  --vp-c-gutter: var(--onyx-color-base-neutral-200);

  // typography
  --vp-c-text-1: var(--onyx-color-text-icons-neutral-intense); // regular text
  --vp-c-text-2: var(--onyx-color-text-icons-neutral-medium); // muted text (e.g. inactive menu)
  --vp-c-text-3: var(--onyx-color-text-icons-neutral-soft); // subtle text (e.g. placeholders)
  --vp-font-family-base: var(--onyx-font-family);
  --vp-font-family-mono: var(--onyx-font-family-mono);
  --vp-code-color: var(--vp-c-brand-2);

  // add colored gradient background to the logo on the home page
  // the gradient colors are exceptions so we don't have CSS variables for them
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #008ca0 50%, #00dce6 50%);
  --vp-home-hero-image-filter: blur(44px);
  @include mixins.breakpoint(min, l) {
    --vp-home-hero-image-filter: blur(68px);
  }
  @include mixins.breakpoint(min, s) {
    --vp-home-hero-image-filter: blur(56px);
  }
}

.dark {
  // use lighter neutral color in dark mode since its too dark otherwise
  @include mixins.define-vitepress-color(default, --onyx-color-base-neutral, 200);

  // VitePress shows a fully white background when hovering in dark mode
  // which is really flashy so we use a more subtle color
  .vp-sponsor-grid-item {
    &:hover {
      background-color: var(--onyx-color-base-neutral-200);
    }
  }
}

.custom-block.tip a,
.custom-block.tip code {
  // use a higher contrast color for links/code inside tip blocks
  // because the default contrast is too low
  color: var(--onyx-color-text-icons-info-bold);
}
