@use "../../../../styles/mixins/layers.scss";

@include layers.component {
  .onyx-data-grid {
    tr:has(.onyx-data-grid-selection-cell__checkbox--checked) {
      --onyx-table-row-background-color: var(--onyx-color-base-primary-100);
    }

    .onyx-data-grid-selection-cell {
      box-sizing: content-box;
      padding: 0;
    }

    .onyx-data-grid-selection-cell__checkbox--hover {
      opacity: 0;
    }

    // We want to display the checkbox on hover, when
    tr .onyx-data-grid-selection-cell__checkbox:has(input:focus-visible) /* it's focused through the keyboard */,
    tr:hover .onyx-data-grid-selection-cell__checkbox /* it's hovered */,
    .onyx-data-grid-selection-cell__checkbox--checked /* it's checked */ {
      opacity: 1;
    }
  }
}
