@use './variables.scss' as vars;
@use './mixins.scss' as *;

/**
* Default styling for pages. Class `page` should be wrapped around every regular page/view inside the views folder.
*/
.page {
  margin: var(--sit-space-l) var(--sit-space-xl);

  @include breakpoint(m) {
    margin: var(--sit-space-l);
  }
  @include breakpoint(s) {
    margin: var(--sit-space-s);
  }

  // if a main h1 headline exists, it should not have top margin because it is already applied by this page class
  & > scu-headline[element='h1'] {
    margin-top: 0;
  }

  /* increases the margin-bottom of the page to reserve space for the bottom-bar */
  &--with-bottom-bar {
    margin-bottom: calc(var(--sit-space-l) + var(--sit-space-xl));

    @include breakpoint(m) {
      margin-bottom: calc(var(--sit-space-l) + var(--sit-space-xl));
    }
    @include breakpoint(s) {
      margin-bottom: calc(var(--sit-space-s) + 48px);
    }
  }

  /**
  * global centering function
  */
  .align-center {
    display: grid;
    place-items: center;
  }
}
