body {
  margin: 0;
  font-family: var(--onyx-font-family);
  background-color: var(--onyx-color-base-background-tinted);
  color: var(--onyx-color-text-icons-neutral-intense);
}

.dark {
  color-scheme: dark;
}
