// this style sheet contains styles for the checkbox-box
// that needs to be shared between OnyxCheckbox and OnyxSelect
@use "layers";

@mixin variables() {
  --onyx-checkbox-input-size: 1rem;
  --onyx-checkbox-input-padding: var(--onyx-density-sm);
}

@mixin define-checked-background($state, $color) {
  &#{$state} {
    border-color: var(--onyx-color-component-cta-#{$color});
    background-color: var(--onyx-color-component-cta-#{$color});

    &:hover {
      background-color: var(--onyx-color-component-cta-#{$color}-hover);
    }
  }
}

@mixin styles() {
  height: var(--onyx-checkbox-input-size);
  width: var(--onyx-checkbox-input-size);
  appearance: none;
  margin: 0;
  border-radius: var(--onyx-radius-sm);
  outline: none;
  cursor: inherit;
  border: var(--onyx-1px-in-rem) solid var(--onyx-color-component-border-neutral);
  background: var(--onyx-color-base-background-blank);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &:checked,
  &:indeterminate {
    @include define-checked-background(":enabled", default);
    @include define-checked-background(":user-invalid", invalid);

    &:disabled {
      background-color: var(--onyx-color-base-neutral-300);
    }
  }

  &:disabled {
    border-color: var(--onyx-color-base-neutral-300);
  }

  &:user-invalid {
    border-color: var(--onyx-color-component-border-invalid);
  }

  &:checked {
    // icon (with added fill='white'): check-small.svg
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' xml:space='preserve' viewBox='0 0 32 32'%3E%3Cpath d='m21.311 10.793-8.293 8.293-3.291-3.292-1.415 1.415 4.706 4.705 9.707-9.707z'/%3E%3C/svg%3E");
  }

  &:indeterminate {
    // icon (with added fill='white'): minus-small.svg
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' xml:space='preserve' viewBox='0 0 32 32'%3E%3Cpath d='M8 15h16v2H8z'/%3E%3C/svg%3E");
  }
}
