// this style sheet contains shared styles for the input and textarea
// that needs to be shared between OnyxInput and OnyxTextarea
@use "layers";
@use "density.scss";

@mixin invalid($formElement) {
  &:not(.onyx-form-element-suppress-invalid) {
    &.onyx-form-element--touched-invalid:has(
        #{$formElement}:user-invalid,
        #{$formElement}--touched:invalid
      ),
    &.onyx-form-element--immediate-invalid:has(#{$formElement}:invalid) {
      @content;
    }
  }
}

@mixin define-shared-styles($base-selector, $vertical-padding) {
  --border-color: var(--onyx-color-component-border-neutral);
  --hover-border-color: var(--onyx-color-component-border-primary-hover);
  --selection-color: var(--onyx-color-base-primary-200);
  --background-color: var(--onyx-color-base-background-blank);
  --outline-color: var(--onyx-color-base-primary-200);
  --outline-style: none;

  &__wrapper {
    border-radius: var(--onyx-radius-sm);
    border: var(--onyx-1px-in-rem) solid var(--border-color);
    background-color: var(--background-color);
    color: var(--onyx-color-text-icons-neutral-intense);

    outline: var(--onyx-outline-width) var(--outline-style) var(--outline-color);

    display: flex;
    align-items: center;
    gap: var(--onyx-density-xs);

    font-size: 1rem;
    line-height: 1.5rem;
    padding: $vertical-padding var(--onyx-density-sm);
    height: calc(1lh + 2 * #{$vertical-padding});

    &:has(#{$base-selector}__native:read-write:hover) {
      --border-color: var(--hover-border-color, var(--onyx-color-base-primary-400));
    }

    &:has(#{$base-selector}__native:enabled:focus, #{$base-selector}__native--show-focus) {
      --border-color: var(--focus-border-color, var(--onyx-color-component-cta-default));
      --outline-style: solid;
    }

    // :read-only is valid for readonly and disabled state so we put shared styles for both states here
    &:has(#{$base-selector}__native:read-only) {
      --selection-color: var(--onyx-color-base-neutral-200);
      --background-color: var(--onyx-color-base-background-tinted);
    }

    // styles for readonly but NOT disabled
    &:has(#{$base-selector}__native:enabled:read-only) {
      &:has(#{$base-selector}__native:hover) {
        --border-color: var(--onyx-color-base-neutral-400);
      }

      &:has(#{$base-selector}__native:focus, #{$base-selector}__native--show-focus) {
        --border-color: var(--onyx-color-base-neutral-300);
        --outline-color: var(--onyx-color-base-neutral-200);
      }
    }

    &:has(#{$base-selector}__native:read-write) {
      &:has(#{get-autofill-selectors("#{$base-selector}__native")}) {
        background-color: var(--onyx-color-base-warning-100);
      }
    }
  }

  &__loading {
    color: var(--onyx-color-text-icons-primary-intense);
  }

  @include invalid(#{$base-selector}__native) {
    --error-message-display: block;
    --message-display: none;
    --border-color: var(--onyx-color-base-danger-500);
    --outline-color: var(--onyx-color-base-danger-200);
    --selection-color: var(--onyx-color-base-danger-200);
    --focus-border-color: var(--onyx-color-component-cta-invalid);
    --hover-border-color: var(--onyx-color-base-danger-400);
  }

  &__native {
    // reset native input styles so they are inherited from the parent
    border: none;
    border-radius: inherit;
    background-color: transparent;
    color: inherit;
    width: 100%;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    height: 100%;

    &::placeholder {
      color: var(--onyx-color-text-icons-neutral-soft);
      font-weight: 400;
      opacity: 1;
    }

    &::selection {
      background: var(--selection-color);
    }

    #{get-autofill-selectors("&")} {
      background-color: transparent;
      -webkit-text-fill-color: var(--onyx-color-text-icons-neutral-intense);

      // many browsers use "!important" to set the autofill background so we need this
      // transition workaround to make the background transparent
      transition: background-color calc(infinity * 1s);
    }
  }

  &:has(&__native:disabled) {
    .onyx-form-element__label {
      color: var(--onyx-color-text-icons-neutral-soft);
    }

    #{$base-selector} {
      &__wrapper {
        color: var(--onyx-color-text-icons-neutral-soft);
      }
    }
  }
}

@mixin define-skeleton-styles($height) {
  $adjustment: var(--skeleton-label-density-adjustment, 0rem);

  display: flex;
  flex-direction: column;
  gap: calc(var(--onyx-density-3xs) + $adjustment);
  line-height: 1.5rem;

  &__label {
    width: var(--onyx-density-3xl);
    height: calc(1.25rem - $adjustment);
  }

  &__input {
    width: 17rem;
    max-width: 100%;
    height: $height;
  }

  @include density.compact {
    // the skeleton gap would be 0 in compact density so we shrink the label size a bit and increase the gap so it does not look off
    --skeleton-label-density-adjustment: var(--onyx-spacing-5xs);
  }
}

/**
* Gets a comma separated CSS selector for the input autofill.
* Includes default browser selectors as well as some specific selectors e.g. for certain password managers.
*/
@function get-autofill-selectors($prefix: "") {
  $output: "";
  $selectors: (":autofill", "[data-test-autofill]", "[data-com-onepassword-filled]");

  @each $selector in $selectors {
    $prefixed-selector: $prefix + $selector;

    @if $output == "" {
      $output: $prefixed-selector;
    } @else {
      $output: $output + ", " + $prefixed-selector;
    }
  }

  @return $output;
}
