@mixin styles() {
  $wrapper-padding: var(--onyx-spacing-2xs);

  border-radius: var(--onyx-radius-md);
  background-color: var(--onyx-color-base-background-blank);
  padding: $wrapper-padding 0;
  box-shadow: var(--onyx-shadow-medium-bottom);
  box-sizing: border-box;
  width: max-content;
  min-width: var(--onyx-spacing-4xl);
  max-width: 20rem;
  font-family: var(--onyx-font-family);
  z-index: var(--onyx-z-index-flyout);

  &__wrapper {
    max-height: var(--max-flyout-height);
    overflow: auto;
    outline: none;
  }

  &__group,
  &__check-all {
    padding: 0;

    &:not(:last-of-type) {
      border-bottom: var(--onyx-1px-in-rem) solid var(--onyx-color-component-border-neutral);
    }
  }
  &__group:not(:last-of-type) {
    margin-bottom: var(--onyx-density-xs);
  }

  &__group-name {
    display: block;
    padding: 0 var(--onyx-density-sm);
    color: var(--onyx-color-text-icons-neutral-medium);
    font-weight: var(--onyx-font-weight-semibold);
  }

  &:has(&__wrapper:focus-visible) {
    outline: var(--onyx-outline-width) solid var(--onyx-color-component-focus-primary);
  }
}
