// global component styles
// DO NOT ADD ANY STYLES HERE THAT HAVE SIDE EFFECTS ON THE GLOBAL APPLICATION (e.g. body, <a> etc.)
@use "@fontsource-variable/source-code-pro";
@use "@fontsource-variable/source-sans-3";
@use "layers"; // Must be imported first!
@use "root.scss";
@use "grid.scss";
@use "density.scss";
@use "z-indices.scss";
@use "required.scss";
@use "fonts.scss";
@use "variables-onyx.css";
@use "variables-light.css";
@use "variables-dark.css";
