@use "../../../styles/mixins/layers.scss";

@include layers.component {
  .onyx-data-grid {
    .onyx-data-grid-number-cell {
      font-family: var(--onyx-font-family-mono);
      text-align: end;
    }

    .onyx-data-grid-boolean-cell {
      color: var(--onyx-color-text-icons-neutral-medium);
    }
  }
}
