@use "../../../../styles/mixins/layers.scss";

@include layers.component {
  .onyx-data-grid {
    &__lazy-loading-row {
      td {
        &:first-child {
          grid-column: 1 / -1;
          border-right: none;
        }

        &:not(:first-child) {
          display: none;
        }
      }
    }
  }
}
