@use "../../../../styles/mixins/layers.scss";
@use "../../../../styles/breakpoints.scss";

@include layers.component {
  .onyx-data-grid {
    &__lazy-pagination,
    &__button-pagination {
      border-right: none;
      text-align: center;

      > .onyx-loading-dots {
        margin-inline: auto;
      }
    }

    &__items-per-page {
      @include breakpoints.container(max, xs) {
        .onyx-items-per-page__label {
          display: none;
        }
      }
    }
  }
}
