@use "../../../../styles/mixins/layers.scss";

@include layers.component {
  .onyx-data-grid {
    &__lazy-pagination,
    &__button-pagination {
      grid-column: 1 / -1;
      border-right: none;
      text-align: center;

      > .onyx-loading-dots {
        margin-inline: auto;
      }
    }
  }
}
