@use "../../../../styles/mixins/layers.scss";

@include layers.component {
  .onyx-data-grid-resize-cell {
    &--last {
      .onyx-resize-handle {
        right: 0;
        &::after,
        &::before {
          left: auto;
          right: 0;
        }
      }
    }
    .onyx-resize-handle {
      --onyx-resize-handle--active-indicator-height: var(--onyx-table-observed-height);
      --onyx-resize-handle-border-width: 0.125rem;

      &:hover .onyx-resize-handle::after {
        opacity: 0.3;
      }
    }
  }

  // styles to apply to the whole data grid while actively resizing a column
  .onyx-data-grid {
    &:has(.onyx-data-grid-resize-cell--active) {
      // prevent hover effects on rows and other columns that are not resized
      tbody,
      th:not(.onyx-data-grid-resize-cell--active) {
        pointer-events: none;
      }
    }
  }
}
