@use "../../../../styles/mixins/layers.scss";

@include layers.component {
  .onyx-data-grid {
    .onyx-data-grid-resize-cell {
      .onyx-resize-handle {
        --onyx-resize-handle--active-indicator-height: var(--onyx-table-observed-height);
        --onyx-resize-handle-border-width: 0.125rem;
      }

      &:hover .onyx-resize-handle::after {
        opacity: 0.3;
      }
    }
  }
}
