name: Update Playwright screenshots
on:
  workflow_dispatch:

env:
  TURBO_TOKEN: ${{ secrets.TURBO_REMOTE_CACHE__TURBO_TOKEN }}

permissions:
  contents: read

jobs:
  screenshots:
    uses: ./.github/workflows/playwright.yml
    secrets: inherit
    permissions:
      contents: write
    with:
      update-snapshots: true

  # Download screenshots from all shards and create a pull request
  pr:
    name: Create pull request
    runs-on: ubuntu-latest
    needs: screenshots
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Download screenshots
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: screenshots
          merge-multiple: true

      - name: Create pull request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          commit-message: "chore: update Playwright screenshots"
          title: "chore: update Playwright screenshots"
          body: This is an auto-generated pull request. All Playwright screenshots have been updated.
          branch-suffix: short-commit-hash # needed to not override other pull requests created via workflows
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: ${{ github.ref_name }}
